body {
  overflow-x: hidden;
  background-image: linear-gradient(to bottom, #383365, #ef4788, #04054a);
  // background-attachment: fixed;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-color: #04054a;
}

@keyframes slide-in {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-120%);
  }
}

.slide-in {
  animation: slide-in 150ms forwards;
}

body::-webkit-scrollbar,
.snap-x::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  background-color: #04054a;
}

body::-webkit-scrollbar-track,
.snap-x::-webkit-scrollbar-track:horizontal {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb,
.snap-x::-webkit-scrollbar-thumb:horizontal {
  background-color: #ef4788;
  // outline: 1px solid slategrey;
}

.placeholder-animation {
  animation-name: placeholder-move;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes placeholder-move {
  0% {
    transform: translateY(-1.5rem);
  }
  10% {
    transform: translateY(0rem);
  }
  40% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(6rem);
  }
}
